# Python
__pycache__/
*.py[cod]
venv/
.env
*.db

# Flutter
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
